#switcher {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5vh;
}

.level{
    font-size: 2rem;
    margin: 1px 4px;
    padding: 5px;  
    background-color: lightblue;
    border-radius: 10%;
    cursor: pointer;
}

.level:active {
    border: solid black 1px;
}


#switcher div {
    margin: 10px 0;
}