#counter {
    width: 20vw;
    height: 20vh;

    background-color: lightgray;
    border: solid black 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
}