.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-button {
    margin: 1px 4px;
    padding: 5px;  
    border-radius: 10%;
    cursor: pointer;
}

#main {
  font-size: 2rem;
  min-height: 60vh;
  max-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
