#switcher {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5vh;
}

.level{
    font-size: 2rem;
    background-color: lightblue;
}

.level:active {
    border: solid black 1px;
}


#switcher div {
    margin: 10px 0;
}